.place__title {
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-area: place__title;
    align-self: end;
    justify-items: end;
    /* border: steelblue 1px solid;*/
}

@media (max-width:850px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 330px;
    }
}

@media (max-width:767px) {
    .place__title {
        margin-left: 16px;
        margin-right: auto;
    }
}

@media (max-width:630px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}