.place__website {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    list-style-type: none;
    text-decoration: none;
    grid-area: place__website;
    align-self: end;
    /*border: aqua 1px solid;*/
    padding: 0;
    margin: 0;
}

@media (max-width:600px) {
    .place__website {
        min-width: min-content;
        margin-left: 16px;
        margin-right: auto;
    }
}