.place__paragraph {
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
    /*border: springgreen 1px solid;*/
}

.place__paragraph:nth-child(2) {
    margin-bottom: 0;
}

@media (max-width:850px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 20px;
        margin-bottom: 20px;
        text-align: left;
    }
}