.footer__copyright {
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    text-align: right;
}

@media (max-width:699px) {
    .footer__copyright {
        margin-top: 48px;
        line-height: 14px;
        text-align: left;
    }
}