.cover__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    margin: auto;
    border: steelblue 1px solid;
    opacity: 1;
    width: fit-content;
}

.cover__text:hover+.cover__background {
    opacity: 0.3;
}