.footer {
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 48px;
    align-items: flex-start;
    /*border: springgreen 1px solid;*/
}

@media (max-width:1023px) {
    .footer {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 88px;
    }
}

@media (max-width:699px) {
    .footer {
        margin-left: 16px;
        margin-right: auto;
        margin-top: 64px;
        flex-direction: column;
        justify-content: flex-start;
    }
}