.intro__title {
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media (max-width:600px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}